/* ------------------------- Recent Work -------------------------------------------------- */
.section {
  &.recent {
    background-color: var(--clr-black);
    color: whitesmoke;
    min-height: 80vh;
  }
}
